# conao3's global .gitignore at
# http://dotfiles.conao3.com/gitignore

# binary
.out

# make working foldor
/.make

# git clone folder
/git
/repos
/forks
/trash

# trash folder
/trash-*

# tmp folder
/tmp
